<div class="container">

  <div class="vehicle">
    <div class="speed-img">
      <img src="../assets/img/tablero-coche.jpg" alt="">  
      <div class="speed-text">
        <p>{{time}} Km/h</p>
      </div>
    </div> 

    <div class="pedals">
      <img src="../assets/img/freno.png" alt="" width="100" class="pedal" (click)="desacelerarConPedal()">
      <img src="../assets/img/acelerador.png" alt="" width="100" class="pedal" (click)="acelerarConPedal()">
    </div>
  </div> 

  <div class="tablet">
    <img src="../assets/img/Tablet-Frame-PNG.png" alt="" class="tablet-frame">
    <img src="../assets/img/menu-tablet.jpg" alt="" class="menu-tablet">
    <div class="alert" *ngIf="showAlert">
      <div class="card">
        <img src="../assets/img/alert.gif" alt="" width="50">
        <h3>Alerta!</h3>
        <p>Hay un vehiculo detenido en la via</p>
      </div>
    </div>

    <div class="star-btn" (click)="activeShowAlert()">
      <button>Generar alerta</button>
    </div>
  </div>
</div>